# cst constraint descriptor for ferryl intermediate C-H abstraction TS from 4-phenylanisole
# CYS coordinating to the Heme Fe based on UPO (unspecfific peroxygenase, 7o2g) geometry
# I. Kalvet, Baker lab, UW,   ikalvet@uw.edu


#block 1 for HIS coordinated to FE

CST::BEGIN

  TEMPLATE::   ATOM_MAP: 1 atom_name: FE1 N1 C4
  TEMPLATE::   ATOM_MAP: 1 residue3:  HBA

  TEMPLATE::   ATOM_MAP: 2 atom_name: NE2 CE1 ND1
  TEMPLATE::   ATOM_MAP: 2 residue3: HIS

  CONSTRAINT:: distanceAB:    2.3   0.15  100.   1   1
  CONSTRAINT::    angle_A:   96.6   5.0  100.0  360. 1
  CONSTRAINT::    angle_B:  135.2   5.0   75.0  360. 1
  CONSTRAINT::  torsion_A:   84.0   5.0   75.0  360. 1
  CONSTRAINT:: torsion_AB:  108.4  15.0    0.0   90. 2
  CONSTRAINT::  torsion_B:  169.1  20.0   25.0  360. 2

  ALGORITHM_INFO:: match
     MAX_DUNBRACK_ENERGY 5.0
     IGNORE_UPSTREAM_PROTON_CHI
  ALGORITHM_INFO::END

CST::END


